<h1>Welcome to Opiyn Backend</h1>

<h2 style="margin-left: 10%">       ....where fun begins</h2>

<h1> Api endpoints : </h1>
<h2> <%= link_to "/items", items_path %></h2>
<h2> Page 2 <%= link_to "/items?page=2", "/items/?page=2"%></h2>
<h2> <%= link_to "/items/{itemId}", item_path(@item_id) %></h2>


